<template>
  <div class="home">
    <button class="btn btn-md btn-outline-primary" @click="logout" >Sair</button>
  </div>
</template>

<script>
export default {
  name: 'home',
  components: {
  },
  methods: {
    async logout(){
      await this.$store.dispatch("authentication/logout");
    }
  }
}
</script>
