<template>
  <div class="p-5 d-flex justify-content-center align-items-center">
    <b-card title="Login" id="card" class="p-2">
      <b-card-text>
        <b-row>
          <b-col>
            <b-form-group id="input-group-email" label="Email:" label-for="input-email">
              <b-form-input id="input-email" type="email" :state="emailValidate" v-model="email"></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-password"
              label="Senha:"
              label-for="input-password"
              description="Senha deve ter pelo menos 6 caracteres"
            >
              <b-form-input
                id="input-password"
                type="password"
                :state="passwordValidate"
                v-model="password"
              ></b-form-input>
            </b-form-group>
            <router-link to="/recover">Recuperar senha</router-link>
          </b-col>
        </b-row>
        <b-row class="pt-3">
          <b-col>
            <router-link to="/register" class="text-light">
              <button class="btn btn-md btn-outline-primary">Cadastre-se</button>
            </router-link>

            <b-button
              @click="login"
              :disabled="!passwordValidate && !emailValidate && !(email.length > 0)"
              variant="primary"
              class="float-right"
            >
              <div>
                Entrar
                <b-spinner v-if="loading" small label="Loading..." class="ml-2"></b-spinner>
              </div>
            </b-button>
          </b-col>
        </b-row>
      </b-card-text>
    </b-card>
  </div>
</template>

<script>

export default {
  name: "Login",
  data() {
    return {
      loading: false,
      user: {},
      formData: {},
      perfis: [],
      password: "",
      email: "",
      regex: /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/
    };
  },
  computed: {
    passwordValidate() {
      if (this.password.length == 0) return null;
      return this.password.length >= 6 ? true : false;
    },
    emailValidate() {
      if (this.email.length == 0) return null;
      return this.regex.test(this.email) ? true : false;
    },
    formValidation() {
      if (
        this.regex.test(this.email) &&
        this.regex.test(this.password) &&
        this.email.length > 0
      )
        return false;
      return true;
    }
  },
  methods: {
    async login() {
      this.loading = true;
      try {
        const user = {
          "username": this.email.toString(),
          "password": this.password.toString()
        };

        await this.$store.dispatch("authentication/login", user);

        if (this.$store.getters["authentication/status"].loggedIn == false) {

          this.loading = false;
        }
        else{
          console.log('Passou');
          
          this.loading = false;
          this.$router.push('home');
        }

      } catch (error) {
        console.log("Error: ", error);
        this.loading = false;
      }
    }
  }
};
</script>

<style>
#card {
  padding: 0% !important;
  margin-right: 4vw !important;
  margin-left: 4vw !important;
  min-width: 30% !important;
  max-width: 50% !important;
}
</style>