<template>
  <div class="p-5 d-flex justify-content-center align-items-center">
    <b-card title="Recuperar Senha" id="card" class="p-2">
      <b-card-text>
        <b-form-group
          id="input-group-email"
          label="Email:"
          label-for="input-email"
        >
          <b-form-input
            id="input-email"
            type="email"
            :state="emailValidate"
            v-model="email"
          ></b-form-input>
        </b-form-group>
        <router-link to="/login" class="text-light">
          <button class="btn btn-md btn-outline-primary">Voltar</button>
        </router-link>
        <b-button @click="send" :disabled="!regex.test(email)" variant="primary" class="float-right">
            Enviar
        </b-button>
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      email: '',
      regex: /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/
    };
  },
  computed: {
    emailValidate(){
      if (this.email.length == 0) return null;
      return this.regex.test(this.email) ? true : false;
    }
  },
  methods: {
    async send() {
      this.loading = true;

      var usuario = {
        email: this.formData.Email,
        senha: this.formData.Senha
      };

      await this.$store.dispatch("authentication/login", usuario);

      if (this.$store.getters["authentication/status"].loggedIn == false) {
        this.$toast.warning("Usuário e/ou senha inválidos", "Atenção", {
          position: "topRight"
        });
        this.loading = false;
      }
    }
  }
};
</script>
