<template>
  <div class="p-5 d-flex justify-content-center align-items-center">
    <b-card title="Cadastrar" id="card" class="p-2">
      <b-card-text>
        <b-form-group id="input-group-email" label="Email:" label-for="input-email">
          <b-form-input id="input-email" type="email" :state="emailValidate" v-model="email"></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-password"
          label="Senha:"
          label-for="input-password"
          description="Senha deve ter pelo menos 6 caracteres"
        >
          <b-form-input
            id="input-password"
            type="password"
            :state="passwordValidate"
            v-model="password"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-confirmPassword"
          label="Confirmar Senha:"
          label-for="input-confirmPassword"
        >
          <b-form-input
            id="input-confirmPassword"
            type="password"
            :state="confirmPasswordValidate"
            v-model="confirmPassword"
          ></b-form-input>
        </b-form-group>
        <router-link to="/login" class="text-light">
          <button class="btn btn-md btn-outline-primary">Voltar</button>
        </router-link>

        <b-button
          @click="register"
          :disabled="!passwordValidate && !emailValidate && !confirmPasswordValidate && !(email.length > 0)"
          variant="primary"
          class="float-right"
        >
          <div>
            Cadastrar
            <b-spinner v-if="loading" small label="Loading..." class="ml-2"></b-spinner>
          </div>
        </b-button>
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Register",
  data() {
    return {
      loading: false,
      user: {},
      formData: {},
      perfis: [],
      password: "",
      email: "",
      regex: /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/,
      confirmPassword: ''
    };
  },
  computed: {
    passwordValidate() {
      if (this.password.length == 0) return null;
      return this.password.length >= 6 ? true : false;
    },
    emailValidate() {
      if (this.email.length == 0) return null;
      return this.regex.test(this.email) ? true : false;
    },
    confirmPasswordValidate() {
      if (this.confirmPassword.length == 0) return null;
      return this.password == this.confirmPassword ? true : false;
    }
  },
  methods: {
    async register() {
      try {
        this.loading = true;

        console.log('Chamando: ', process.env.VUE_APP_API_URL);
        
        const response = await axios.post(`${process.env.VUE_APP_API_URL}/user`, {
          "username": this.email.toString(),
          "password": this.user.toString(),
          "role": "user"
        });
        console.log('Response: ', response);
        
        this.loading = false;

        if(response.status == 200)
            this.$router.push('/login');
      } catch (error) {
        console.log("Error: ", error.message);
        this.loading = false;
      } finally {
        this.$router.push('/');
      }
    }
  }
};
</script>

<style>
#card {
  padding: 0% !important;
  margin-right: 4vw !important;
  margin-left: 4vw !important;
  min-width: 30% !important;
  max-width: 50% !important;
}
</style>